swagger: '2.0'
info:
  version: '1.0'
  title: SMASH, INC - API
  description: "# Introduction\n* ## Multi-use Flexible API for: \n  * **User**:\n    * Login \n    * Registration\n    * User Management\n    * Profile Updates\n    * Two Factor Authentication\n     \n  * **Verifcation**:\n    * Identity Verification\n    * Address Verifcation\n    * Cell Phone Verification \n\n  * **Image**:\n    * Manipulation\n    * Compression\n    * Moderation\n     \n  * **Data**:\n    * Manipulation\n    * Compression\n    * Conversion\n    * Sorting\n\n  * **Services**:\n    * Node Application Hosting\n    * DNS Management\n    * CDN (Content Delivery Network)\n\n  * **Security**:\n    * Encryption\n    * Code Obfuscation\n    * Platform Identification\n    * WAF & DDOS Protection (Web Application Firewall)\n      * Advanced Logging\n\n# Overview\n\n*  **API Domain: api.rest.sh, api.restful.sh**\n\nThis API supports both GET and POST API requests with a JSON or XML output.\n\n*~ You can post to this API via a direct body response in JSON/XML, or using URL variables/requests.*\n\n# Authentication\nBe sure to include your User API KEY, and UID when sending a POST or GET request to our API.\n\n*~ If domain restriction is enabled in your dashboard, please include your domain in the request and redirect headers for your API calls.*\n\n# Status Codes\n* ## Success Codes:\n  *   **200**: Information Recieved\n  *   **201**: Success, Resource Created, or Updated\n  *   **202**: Proccessing\n\n* ## Information Codes:\n  *   **400**: Bad Request\n  *   **401**: Incorrect Credentials\n  *   **403**: Forbidden\n  *   **406**: Not Acceptable Input\n  *   **409**: Data Conflict\n  *   **413**: Payload Too Large\n  *   **415**: Un-Supported Content Type\n  *   **451**: Un-Available For Legal Reasons\n\n* ## Error Codes:\n  *   **500**: Internal API Error\n  *   **501**: Not Implemented\n  *   **503**: API Unavailable\n  *   **504**: Request Timeout\n  *   **511**: Authentication Required\n\n# Rate Pricing\n* **Verification requests:** \n  * per/1000 Requests: **$50.00**\n\n* **User requests:** \n  * per/1000 Requests: **$0.0072**\n\n* **Image requests:** \n  * per/1000 Requests: **$11.87**\n\n* Data requests: \n  * per/1MB: **$0.00024**\n\n* **Service requests:** \n  * **DNS Pricing Per Month:**\n    * Per Hosted Zone: **$1.00**\n    * Per Traffic Flow Record: **$100.00**\n    * Per 1 Million Queries: **$0.80**\n    * Per 1 Million Latency Based Queries: **$1.20**\n    * Per 1 Million GEO Queries: **$1.40**\n    * Per Health Check: **$1.00**\n\n  * **Hosting Per Month:**\n    * Per APP: **$5.00**\n\n  * **CDN Pricing per/1GB:**\n    * North America: **$0.17**\n    * Europe: **$0.17**\n    * Australia: **$0.28**\n    * Asia: **$0.28**\n    * India: **$0.34**\n    * South America: **$0.5**\n\n* **Security requests:** \n  * **WAF and DDOS Pricing Per Month:**\n    * per/1000 Web Requests: **$0.0012**\n    * Per Web Access Control List: **$10.00**\n    * Per Custom Domain Configuration: **$2.00**\n  \n  * **Encryption:**\n    * per/1000 data sets: **$0.0144**\n    * per/1MB per file: **$0.00048**\n\n  * **Code Obfuscation Per Month:**\n    * per/APP (300 files per app): **$102.00**\n\n  * **Code Obfuscation Per Month:**\n    * per/APP (300 files per app): **$102.00**\n\n  * **Advanced Logging:**\n    * per/1000 Log Entries: **$0.0072**"
  license:
    name: MIT
    url: http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT
host: api.rest.sh
basePath: /api
schemes:
- https
consumes:
- application/json
produces:
- application/json
paths:
  /auth/user/login:
    get:
      description: 'TODO: Add Description'
      summary: https://api.rest.sh/api/auth/user/login
      tags:
      - Login and Registration
      operationId: AuthUserLoginGet
      produces:
      - application/json
      parameters:
      - name: key
        in: query
        required: true
        type: string
        description: ''
      - name: uid
        in: query
        required: true
        type: string
        description: ''
      - name: user
        in: query
        required: true
        type: string
        description: ''
      - name: password
        in: query
        required: true
        type: string
        description: ''
      - name: Content-Type
        in: header
        required: true
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Https:~1~1api.rest.sh~1api~1auth~1user~1loginresponse'
          examples:
            application/json:
              request: REQUEST TYPE
              uid: Users UID
              valid: RETURNS TRUE IF USER LOGIN DETAILS ARE VALID
              id: TRANSACTION ID
              info:
                uid: USERS ID
                apiuid: API SIDE USER ID
                realname: USERS REAL NAME
                displayname: USERS USERNAME
                avatar: USER AVATAR URL
                email: USERS EMAIL
                address: USERS ADDRESS
                phone: USERS CELL PHONE NUMBER
                lastlogin: USERS LAST LOGIN
                ip: USERS IP
                2fa: RETURNS TRUE IF 2FA IS ENABLED
                iplock: RETURNS TRUE IF IP LOCK IS ENABLED
      security: []
      x-unitTests:
      - request:
          method: GET
          uri: /auth/user/login?key=API&uid=UID&user=Username&password=Password
          headers:
            Content-Type: application/json
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: RAW
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
          body: >-
            {
                "request": "REQUEST TYPE",
                "uid": "Users UID",
                "valid": "RETURNS TRUE IF USER LOGIN DETAILS ARE VALID",
                "id": "TRANSACTION ID",
                "info": {
                	"uid": "USERS ID",
                	"apiuid": "API SIDE USER ID",
                    "realname": "USERS REAL NAME",
                    "displayname": "USERS USERNAME",
                    "avatar": "USER AVATAR URL",
                    "email": "USERS EMAIL",
                    "address": "USERS ADDRESS",
                    "phone": "USERS CELL PHONE NUMBER",
                    "lastlogin": "USERS LAST LOGIN",
                    "ip": "USERS IP",
                    "2fa": "RETURNS TRUE IF 2FA IS ENABLED",
                    "iplock": "RETURNS TRUE IF IP LOCK IS ENABLED"
                }
            }
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: https://api.rest.sh/api/auth/user/login1
        x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    post:
      description: 'TODO: Add Description'
      summary: https://api.rest.sh/api/auth/user/login
      tags:
      - Login and Registration
      operationId: AuthUserLoginPost
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/Https:~1~1api.rest.sh~1api~1auth~1user~1loginrequest'
      - name: Content-Type
        in: header
        required: true
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Https:~1~1api.rest.sh~1api~1auth~1user~1loginresponse'
          examples:
            application/json:
              request: REQUEST TYPE
              uid: Users UID
              valid: RETURNS TRUE IF USER LOGIN DETAILS ARE VALID
              id: TRANSACTION ID
              info:
                uid: USERS ID
                apiuid: API SIDE USER ID
                realname: USERS REAL NAME
                displayname: USERS USERNAME
                avatar: USER AVATAR URL
                email: USERS EMAIL
                address: USERS ADDRESS
                phone: USERS CELL PHONE NUMBER
                lastlogin: USERS LAST LOGIN
                ip: USERS IP
                2fa: RETURNS TRUE IF 2FA IS ENABLED
                iplock: RETURNS TRUE IF IP LOCK IS ENABLED
      security: []
      x-unitTests:
      - request:
          method: POST
          uri: /auth/user/login
          headers:
            Content-Type: application/json
          body: >-
            {

              "key": "YOUR API KEY",

              "uid": "YOUR USER ID",

              "user": "USERS EMAIL OR USERNAME",

              "password": "SEND A ENCRYPTED VERSION OF YOUR USERS PASSWORD USING THE PRIVATE KEY ON YOUR DASHBOARD"

            }
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: RAW
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
          body: >-
            {
                "request": "REQUEST TYPE",
                "uid": "Users UID",
                "valid": "RETURNS TRUE IF USER LOGIN DETAILS ARE VALID",
                "id": "TRANSACTION ID",
                "info": {
                	"uid": "USERS ID",
                	"apiuid": "API SIDE USER ID",
                    "realname": "USERS REAL NAME",
                    "displayname": "USERS USERNAME",
                    "avatar": "USER AVATAR URL",
                    "email": "USERS EMAIL",
                    "address": "USERS ADDRESS",
                    "phone": "USERS CELL PHONE NUMBER",
                    "lastlogin": "USERS LAST LOGIN",
                    "ip": "USERS IP",
                    "2fa": "RETURNS TRUE IF 2FA IS ENABLED",
                    "iplock": "RETURNS TRUE IF IP LOCK IS ENABLED"
                }
            }
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: https://api.rest.sh/api/auth/user/login
        x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /auth/user/register:
    get:
      description: 'TODO: Add Description'
      summary: https://api.rest.sh/api/auth/user/register
      tags:
      - Login and Registration
      operationId: AuthUserRegisterGet
      produces:
      - application/json
      parameters:
      - name: key
        in: query
        required: true
        type: string
        description: ''
      - name: uid
        in: query
        required: true
        type: string
        description: ''
      - name: user
        in: query
        required: true
        type: string
        description: ''
      - name: password
        in: query
        required: true
        type: string
        description: ''
      - name: name
        in: query
        required: true
        type: string
        description: ''
      - name: email
        in: query
        required: true
        type: string
        description: ''
      - name: phone
        in: query
        required: true
        type: integer
        format: int32
        description: ''
      - name: countrycode
        in: query
        required: true
        type: integer
        format: int32
        description: ''
      - name: address
        in: query
        required: true
        type: string
        description: ''
      - name: Content-Type
        in: header
        required: true
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Https:~1~1api.rest.sh~1api~1auth~1user~1registerresponse'
          examples:
            application/json:
              request: REQUEST TYPE
              active: RETURNS TRUE, IF USER WAS SUCCESSFULLY REGISTERED
              id: TRANSACTION ID
              info:
                uid: USERS ID
                apiuid: API SIDE USER ID
                realname: USERS REAL NAME
                displayname: USERS USERNAME
                email: USERS EMAIL
                address: USERS ADDRESS
                phone: USERS CELL PHONE NUMBER
      security: []
      x-unitTests:
      - request:
          method: GET
          uri: /auth/user/register?key=API&uid=UID&user=UID&password=Password&name=John Doe&email=email@email.com&phone=1234567890&countrycode=1&address=3301 South Greenfield Rd, Gilbert, AZ 85297
          headers:
            Content-Type: application/json
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: RAW
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
          body: >-
            {
                "request": "REQUEST TYPE",
                "active": "RETURNS TRUE, IF USER WAS SUCCESSFULLY REGISTERED",
                "id": "TRANSACTION ID",
                "info": {
                    "uid": "USERS ID",
                    "apiuid": "API SIDE USER ID",
                    "realname": "USERS REAL NAME",
                    "displayname": "USERS USERNAME",
                    "email": "USERS EMAIL",
                    "address": "USERS ADDRESS",
                    "phone": "USERS CELL PHONE NUMBER"
                }
            }
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: https://api.rest.sh/api/auth/user/register1
        x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    post:
      description: 'TODO: Add Description'
      summary: https://api.rest.sh/api/auth/user/register
      tags:
      - Login and Registration
      operationId: AuthUserRegisterPost
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/Https:~1~1api.rest.sh~1api~1auth~1user~1registerrequest'
      - name: Content-Type
        in: header
        required: true
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Https:~1~1api.rest.sh~1api~1auth~1user~1registerresponse'
          examples:
            application/json:
              request: REQUEST TYPE
              active: RETURNS TRUE, IF USER WAS SUCCESSFULLY REGISTERED
              id: TRANSACTION ID
              info:
                uid: USERS ID
                apiuid: API SIDE USER ID
                realname: USERS REAL NAME
                displayname: USERS USERNAME
                email: USERS EMAIL
                address: USERS ADDRESS
                phone: USERS CELL PHONE NUMBER
      security: []
      x-unitTests:
      - request:
          method: POST
          uri: /auth/user/register
          headers:
            Content-Type: application/json
          body: >-
            {

              "key": "YOUR API KEY",

              "uid": "YOUR USER ID",

              "user": "USERS EMAIL OR USERNAME",

              "password": "SEND A ENCRYPTED VERSION OF YOUR USERS PASSWORD USING THE PRIVATE KEY ON YOUR DASHBOARD",

              "name": "USERS REAL NAME",

              "email": "USERS EMAIL",

              "phone": "USERS CELL PHONE NUMBER",

              "countrycode": "USERS CELL PHONE COUNTRY CODE",

              "address": "ADDRESS IN ONE LINE SEPERATED BY COMMAS",

              "a": "ADDRESS LINE ONE",

              "sa": "ADDRESS LINE TWO",

              "c": "CITY OR PROVINCE",

              "s": "STATE OR REGION",

              "z": "ZIPCODE"

            }
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: RAW
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
          body: >-
            {
                "request": "REQUEST TYPE",
                "active": "RETURNS TRUE, IF USER WAS SUCCESSFULLY REGISTERED",
                "id": "TRANSACTION ID",
                "info": {
                    "uid": "USERS ID",
                    "apiuid": "API SIDE USER ID",
                    "realname": "USERS REAL NAME",
                    "displayname": "USERS USERNAME",
                    "email": "USERS EMAIL",
                    "address": "USERS ADDRESS",
                    "phone": "USERS CELL PHONE NUMBER"
                }
            }
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: https://api.rest.sh/api/auth/user/register
        x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /user/update:
    get:
      description: 'TODO: Add Description'
      summary: https://api.rest.sh/api/user/update
      tags:
      - User Management
      operationId: UserUpdateGet
      produces:
      - application/json
      parameters:
      - name: key
        in: query
        required: true
        type: string
        description: ''
      - name: uid
        in: query
        required: true
        type: string
        description: ''
      - name: user
        in: query
        required: true
        type: string
        description: ''
      - name: apiuid
        in: query
        required: true
        type: string
        description: ''
      - name: avatar
        in: query
        required: true
        type: string
        description: ''
      - name: custom input
        in: query
        required: true
        type: string
        description: ''
      - name: Content-Type
        in: header
        required: true
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Https:~1~1api.rest.sh~1api~1user~1updateresponse'
          examples:
            application/json:
              request: REQUEST TYPE
              updated: RETURNS TRUE, IF USERS PROFILE WAS SUCCESSFULLY UPDATED
              id: TRANSACTION ID
              info:
                uid: USERS ID
                apiuid: API SIDE USER ID
                avatar: INPUTTED AVATAR URL
                custom-input: CUSTOM INPUTTED PROFILE DATA
      security: []
      x-unitTests:
      - request:
          method: GET
          uri: /user/update?key=API&uid=UID&user=UID&apiuid=apiUID&avatar=https://img.cdnurl.com/UID/image&custom input=custom input
          headers:
            Content-Type: application/json
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: RAW
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
          body: >-
            {

              "request": "REQUEST TYPE",

              "updated": "RETURNS TRUE, IF USERS PROFILE WAS SUCCESSFULLY UPDATED",

              "id": "TRANSACTION ID",

              "info": {

                "uid": "USERS ID",

                "apiuid": "API SIDE USER ID",

                "avatar": "INPUTTED AVATAR URL",

                "custom-input": "CUSTOM INPUTTED PROFILE DATA"

              }

            }
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: https://api.rest.sh/api/user/update1
        x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    post:
      description: 'TODO: Add Description'
      summary: https://api.rest.sh/api/user/update
      tags:
      - User Management
      operationId: UserUpdatePost
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/Https:~1~1api.rest.sh~1api~1user~1updaterequest'
      - name: Content-Type
        in: header
        required: true
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Https:~1~1api.rest.sh~1api~1user~1updateresponse'
          examples:
            application/json:
              request: REQUEST TYPE
              updated: RETURNS TRUE, IF USERS PROFILE WAS SUCCESSFULLY UPDATED
              id: TRANSACTION ID
              info:
                uid: USERS ID
                apiuid: API SIDE USER ID
                avatar: INPUTTED AVATAR URL
                custom-input: CUSTOM INPUTTED PROFILE DATA
      security: []
      x-unitTests:
      - request:
          method: POST
          uri: /user/update
          headers:
            Content-Type: application/json
          body: >-
            {

              "key": "YOUR API KEY",

              "uid": "YOUR USER ID",

              "user": "USERS EMAIL OR USERNAME",

              "apiuid": "USERS API SIDE USER ID",

              "oldpassword": "SEND A ENCRYPTED VERSION OF YOUR USERS CURRENT PASSWORD USING THE PRIVATE KEY ON YOUR DASHBOARD",

              "newpassword": "SEND A ENCRYPTED VERSION OF YOUR USERS NEW PASSWORD USING THE PRIVATE KEY ON YOUR DASHBOARD",

              "name": "USERS REAL NAME",

              "email": "USERS EMAIL",

              "phone": "USERS CELL PHONE NUMBER",

              "avatar": "UPDATE USER AVATAR",

              "countrycode": "USERS CELL PHONE COUNTRY CODE",

              "address": "ADDRESS IN ONE LINE SEPERATED BY COMMAS",

              "a": "ADDRESS LINE ONE",

              "sa": "ADDRESS LINE TWO",

              "c": "CITY OR PROVINCE",

              "s": "STATE OR REGION",

              "z": "ZIPCODE",

              "custom-input": "ADD CUSTOM DATA/INPUTS TO YOUR USERS PROFILE"

            }
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: RAW
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
          body: >-
            {

              "request": "REQUEST TYPE",

              "updated": "RETURNS TRUE, IF USERS PROFILE WAS SUCCESSFULLY UPDATED",

              "id": "TRANSACTION ID",

              "info": {

                "uid": "USERS ID",

                "apiuid": "API SIDE USER ID",

                "avatar": "INPUTTED AVATAR URL",

                "custom-input": "CUSTOM INPUTTED PROFILE DATA"

              }

            }
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: https://api.rest.sh/api/user/update
        x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /user/info:
    get:
      description: 'TODO: Add Description'
      summary: https://api.rest.sh/api/user/info
      tags:
      - User Management
      operationId: UserInfoGet
      produces:
      - application/json
      parameters:
      - name: key
        in: query
        required: true
        type: string
        description: ''
      - name: uid
        in: query
        required: true
        type: string
        description: ''
      - name: user
        in: query
        required: true
        type: string
        description: ''
      - name: apiuid
        in: query
        required: true
        type: string
        description: ''
      - name: Content-Type
        in: header
        required: true
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Https:~1~1api.rest.sh~1api~1user~1inforesponse'
          examples:
            application/json:
              request: REQUEST TYPE
              uid: Users UID
              apiuid: API SIDE USER ID
              verified: RETURNS TRUE IF USER IS VERIFIED
              id: TRANSACTION ID
              info:
                realname: USERS REAL NAME
                displayname: USERS USERNAME
                avatar: USER AVATAR URL
                email: USERS EMAIL
                address: USERS ADDRESS IN ONE LINE SEPERATED BY COMMAS
                address1: USERS ADDRESS LINE ONE
                address2: USERS ADDRESS LINE TWO
                city: USERS ADDRESS CITY
                state: USERS ADDRESS STATE
                zipcode: USERS ADDRESS ZIPCODE
                phone: USERS CELL PHONE NUMBER
                lastlogin: USERS LAST LOGIN
                ip: USERS IP
                2fa: RETURNS TRUE IF 2FA IS ENABLED
                iplock: RETURNS TRUE IF IP LOCK IS ENABLED
      security: []
      x-unitTests:
      - request:
          method: GET
          uri: /user/info?key=API&uid=UID&user=UID&apiuid=apiUID
          headers:
            Content-Type: application/json
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: RAW
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
          body: >-
            {
                "request": "REQUEST TYPE",
                "uid": "Users UID",
                "apiuid": "API SIDE USER ID",
                "verified": "RETURNS TRUE IF USER IS VERIFIED",
                "id": "TRANSACTION ID",
                "info": {
                    "realname": "USERS REAL NAME",
                    "displayname": "USERS USERNAME",
                    "avatar": "USER AVATAR URL",
                    "email": "USERS EMAIL",
                    "address": "USERS ADDRESS IN ONE LINE SEPERATED BY COMMAS",
                    "address1": "USERS ADDRESS LINE ONE",
                    "address2": "USERS ADDRESS LINE TWO",
                    "city": "USERS ADDRESS CITY",
                    "state": "USERS ADDRESS STATE",
                    "zipcode": "USERS ADDRESS ZIPCODE",
                    "phone": "USERS CELL PHONE NUMBER",
                    "lastlogin": "USERS LAST LOGIN",
                    "ip": "USERS IP",
                    "2fa": "RETURNS TRUE IF 2FA IS ENABLED",
                    "iplock": "RETURNS TRUE IF IP LOCK IS ENABLED"
                }
            }
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: https://api.rest.sh/api/user/info1
        x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    post:
      description: 'TODO: Add Description'
      summary: https://api.rest.sh/api/user/info
      tags:
      - User Management
      operationId: UserInfoPost
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/Https:~1~1api.rest.sh~1api~1user~1inforequest'
      - name: Content-Type
        in: header
        required: true
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Https:~1~1api.rest.sh~1api~1user~1inforesponse'
          examples:
            application/json:
              request: REQUEST TYPE
              uid: Users UID
              apiuid: API SIDE USER ID
              verified: RETURNS TRUE IF USER IS VERIFIED
              id: TRANSACTION ID
              info:
                realname: USERS REAL NAME
                displayname: USERS USERNAME
                avatar: USER AVATAR URL
                email: USERS EMAIL
                address: USERS ADDRESS IN ONE LINE SEPERATED BY COMMAS
                address1: USERS ADDRESS LINE ONE
                address2: USERS ADDRESS LINE TWO
                city: USERS ADDRESS CITY
                state: USERS ADDRESS STATE
                zipcode: USERS ADDRESS ZIPCODE
                phone: USERS CELL PHONE NUMBER
                lastlogin: USERS LAST LOGIN
                ip: USERS IP
                2fa: RETURNS TRUE IF 2FA IS ENABLED
                iplock: RETURNS TRUE IF IP LOCK IS ENABLED
      security: []
      x-unitTests:
      - request:
          method: POST
          uri: /user/info
          headers:
            Content-Type: application/json
          body: >-
            {

              "key": "YOUR API KEY",

              "uid": "YOUR USER ID",

              "user": "USERS EMAIL OR USERNAME",

              "apiuid": "USERS API SIDE USER ID"

            }
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: RAW
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
          body: >-
            {
                "request": "REQUEST TYPE",
                "uid": "Users UID",
                "apiuid": "API SIDE USER ID",
                "verified": "RETURNS TRUE IF USER IS VERIFIED",
                "id": "TRANSACTION ID",
                "info": {
                    "realname": "USERS REAL NAME",
                    "displayname": "USERS USERNAME",
                    "avatar": "USER AVATAR URL",
                    "email": "USERS EMAIL",
                    "address": "USERS ADDRESS IN ONE LINE SEPERATED BY COMMAS",
                    "address1": "USERS ADDRESS LINE ONE",
                    "address2": "USERS ADDRESS LINE TWO",
                    "city": "USERS ADDRESS CITY",
                    "state": "USERS ADDRESS STATE",
                    "zipcode": "USERS ADDRESS ZIPCODE",
                    "phone": "USERS CELL PHONE NUMBER",
                    "lastlogin": "USERS LAST LOGIN",
                    "ip": "USERS IP",
                    "2fa": "RETURNS TRUE IF 2FA IS ENABLED",
                    "iplock": "RETURNS TRUE IF IP LOCK IS ENABLED"
                }
            }
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: https://api.rest.sh/api/user/info
        x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /user/delete:
    get:
      description: 'TODO: Add Description'
      summary: https://api.rest.sh/api/user/delete
      tags:
      - User Management
      operationId: UserDeleteGet
      produces:
      - application/json
      parameters:
      - name: api
        in: query
        required: true
        type: string
        description: ''
      - name: uid
        in: query
        required: true
        type: string
        description: ''
      - name: user
        in: query
        required: true
        type: string
        description: ''
      - name: apiuid
        in: query
        required: true
        type: string
        description: ''
      - name: Content-Type
        in: header
        required: true
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Https:~1~1api.rest.sh~1api~1user~1deleteresponse'
          examples:
            application/json:
              request: REQUEST TYPE
              deleted: RETURNS TRUE, IF USERS ACCOUNT WAS SUCCESSFULLY DELETED
              id: TRANSACTION ID
      security: []
      x-unitTests:
      - request:
          method: GET
          uri: /user/delete?api=API&uid=UID&user=UID&apiuid=apiUID
          headers:
            Content-Type: application/json
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: RAW
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
          body: >-
            {

              "request": "REQUEST TYPE",

              "deleted": "RETURNS TRUE, IF USERS ACCOUNT WAS SUCCESSFULLY DELETED",

              "id": "TRANSACTION ID"

            }
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: https://api.rest.sh/api/user/delete1
        x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    post:
      description: 'TODO: Add Description'
      summary: https://api.rest.sh/api/user/delete
      tags:
      - User Management
      operationId: UserDeletePost
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/Https:~1~1api.rest.sh~1api~1user~1deleterequest'
      - name: Content-Type
        in: header
        required: true
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Https:~1~1api.rest.sh~1api~1user~1deleteresponse'
          examples:
            application/json:
              request: REQUEST TYPE
              deleted: RETURNS TRUE, IF USERS ACCOUNT WAS SUCCESSFULLY DELETED
              id: TRANSACTION ID
      security: []
      x-unitTests:
      - request:
          method: POST
          uri: /user/delete
          headers:
            Content-Type: application/json
          body: >-
            {

              "key": "YOUR API KEY",

              "uid": "YOUR USER ID",

              "user": "USERS EMAIL OR USERNAME",

              "apiuid": "USERS API SIDE USER ID"

            }
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: RAW
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
          body: >-
            {

              "request": "REQUEST TYPE",

              "deleted": "RETURNS TRUE, IF USERS ACCOUNT WAS SUCCESSFULLY DELETED",

              "id": "TRANSACTION ID"

            }
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: https://api.rest.sh/api/user/delete
        x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /2fa:
    post:
      description: 'TODO: Add Description'
      summary: https://api.rest.sh/api/verify
      tags:
      - Verification
      operationId: 2faPost
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/Https:~1~1api.rest.sh~1api~1verifyrequest'
      - name: Content-Type
        in: header
        required: true
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Https:~1~1api.rest.sh~1api~1verifyresponse'
          examples:
            application/json:
              request: REQUEST TYPE
              to: USER BEING VERIFIED
              verified: RETURNS TRUE OR FALSE
              id: TRANSACTION ID
      security: []
      x-unitTests:
      - request:
          method: POST
          uri: /2fa
          headers:
            Content-Type: application/json
          body: >-
            {

              "key": "YOUR API KEY",

              "uid": "YOUR USER ID",

              "to": "USERS UID"

            }
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: RAW
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers:
            Accept-Ranges: bytes
            Connection: keep-alive
            Content-Length: 57
            Content-Type: application/json; charset=utf-8
            Date: Wed, 01 Nov 2017 22:38:42 GMT
            Server: nginx
            Vary: X-HTTP-Method-Override, Accept-Encoding, Authorization, Cookie
            Via: 1.1 varnish
            X-Cache: MISS
            X-Cache-Hits: 0
            X-Served-By: cache-den6026-DEN
            X-Timer: S1509575913.139081,VS0,VE9297
            access-control-allow-origin: '*'
            cache-control: private
            etag: W/"39-/Uq7JVts9Z0DW2A8HCd/mHAMZx0"
            function-execution-id: 5at6n190lken
            strict-transport-security: max-age=15552000; includeSubDomains
            x-cloud-trace-context: 87d5c606647bdcb494caafb92a85cb73;o=1
            x-content-type-options: nosniff
            x-dns-prefetch-control: off
            x-download-options: noopen
            x-frame-options: SAMEORIGIN
            x-powered-by: Fatality-Web-Server
            x-xss-protection: 1; mode=block
          body: >-
            {
                "request": "REQUEST TYPE",
                "to": "USER BEING VERIFIED",
                "verified": "RETURNS TRUE OR FALSE",
                "id": "TRANSACTION ID"
            }
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: https://api.rest.sh/api/verify
        x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /verify:
    get:
      description: 'TODO: Add Description'
      summary: https://api.rest.sh/api/2fa
      tags:
      - Two Factor Authentication API
      operationId: VerifyGet2
      produces:
      - application/json
      parameters:
      - name: key
        in: query
        required: true
        type: string
        description: ''
      - name: uid
        in: query
        required: true
        type: string
        description: ''
      - name: to
        in: query
        required: true
        type: string
        description: ''
      - name: Content-Type
        in: header
        required: true
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Https:~1~1api.rest.sh~1api~12faresponse'
          examples:
            application/json:
              request: REQUEST TYPE
              to: USER BEING VERIFIED
              verified: RETURNS TRUE OR FALSE
              id: TRANSACTION ID
      security: []
      x-unitTests:
      - request:
          method: GET
          uri: /verify?key=API&uid=UID&to=UID
          headers:
            Content-Type: application/json
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: RAW
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers:
            Accept-Ranges: bytes
            Connection: keep-alive
            Content-Length: 57
            Content-Type: application/json; charset=utf-8
            Date: Wed, 01 Nov 2017 22:38:42 GMT
            Server: nginx
            Vary: X-HTTP-Method-Override, Accept-Encoding, Authorization, Cookie
            Via: 1.1 varnish
            X-Cache: MISS
            X-Cache-Hits: 0
            X-Served-By: cache-den6026-DEN
            X-Timer: S1509575913.139081,VS0,VE9297
            access-control-allow-origin: '*'
            cache-control: private
            etag: W/"39-/Uq7JVts9Z0DW2A8HCd/mHAMZx0"
            function-execution-id: 5at6n190lken
            strict-transport-security: max-age=15552000; includeSubDomains
            x-cloud-trace-context: 87d5c606647bdcb494caafb92a85cb73;o=1
            x-content-type-options: nosniff
            x-dns-prefetch-control: off
            x-download-options: noopen
            x-frame-options: SAMEORIGIN
            x-powered-by: Fatality-Web-Server
            x-xss-protection: 1; mode=block
          body: >-
            {
                "request": "REQUEST TYPE",
                "to": "USER BEING VERIFIED",
                "verified": "RETURNS TRUE OR FALSE",
                "id": "TRANSACTION ID"
            }
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: https://api.rest.sh/api/2fa1
        x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    post:
      description: 'TODO: Add Description'
      summary: https://api.rest.sh/api/2fa
      tags:
      - Two Factor Authentication API
      operationId: VerifyPost
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/Https:~1~1api.rest.sh~1api~12farequest'
      - name: Content-Type
        in: header
        required: true
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Https:~1~1api.rest.sh~1api~12faresponse'
          examples:
            application/json:
              request: REQUEST TYPE
              to: USER BEING VERIFIED
              verified: RETURNS TRUE OR FALSE
              id: TRANSACTION ID
      security: []
      x-unitTests:
      - request:
          method: POST
          uri: /verify
          headers:
            Content-Type: application/json
          body: >-
            {

              "key": "YOUR API KEY",

              "uid": "YOUR USER ID",

              "to": "USERS UID"

            }
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: RAW
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers:
            Accept-Ranges: bytes
            Connection: keep-alive
            Content-Length: 57
            Content-Type: application/json; charset=utf-8
            Date: Wed, 01 Nov 2017 22:38:42 GMT
            Server: nginx
            Vary: X-HTTP-Method-Override, Accept-Encoding, Authorization, Cookie
            Via: 1.1 varnish
            X-Cache: MISS
            X-Cache-Hits: 0
            X-Served-By: cache-den6026-DEN
            X-Timer: S1509575913.139081,VS0,VE9297
            access-control-allow-origin: '*'
            cache-control: private
            etag: W/"39-/Uq7JVts9Z0DW2A8HCd/mHAMZx0"
            function-execution-id: 5at6n190lken
            strict-transport-security: max-age=15552000; includeSubDomains
            x-cloud-trace-context: 87d5c606647bdcb494caafb92a85cb73;o=1
            x-content-type-options: nosniff
            x-dns-prefetch-control: off
            x-download-options: noopen
            x-frame-options: SAMEORIGIN
            x-powered-by: Fatality-Web-Server
            x-xss-protection: 1; mode=block
          body: >-
            {
                "request": "REQUEST TYPE",
                "to": "USER BEING VERIFIED",
                "verified": "RETURNS TRUE OR FALSE",
                "id": "TRANSACTION ID"
            }
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: https://api.rest.sh/api/2fa
        x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /verify/user:
    post:
      description: 'TODO: Add Description'
      summary: https://api.rest.sh/api/verify/user
      tags:
      - Verification
      operationId: VerifyUserPost
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/Https:~1~1api.rest.sh~1api~1verify~1userrequest'
      - name: Content-Type
        in: header
        required: true
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Https:~1~1api.rest.sh~1api~1verify~1userresponse'
          examples:
            application/json:
              request: REQUEST TYPE
              correct: RETURNS IF 2FA TOKEN IS CORRECT
              id: TRANSACTION ID
      security: []
      x-unitTests:
      - request:
          method: POST
          uri: /verify/user
          headers:
            Content-Type: application/json
          body: >-
            {

              "key": "YOUR API KEY",

              "uid": "YOUR USER ID",

              "user": "USERS UID",

              "code": "USER INPUTTED TOKEN"

            }
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: RAW
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
          body: >-
            {

              "request": "REQUEST TYPE",

              "correct": "RETURNS IF 2FA TOKEN IS CORRECT",

              "id": "TRANSACTION ID"

            }
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: https://api.rest.sh/api/verify/user
        x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /verify/2fa:
    get:
      description: 'TODO: Add Description'
      summary: https://api.rest.sh/api/2fa/token
      tags:
      - Two Factor Authentication API
      operationId: Verify2faGet2
      produces:
      - application/json
      parameters:
      - name: key
        in: query
        required: true
        type: string
        description: ''
      - name: uid
        in: query
        required: true
        type: string
        description: ''
      - name: user
        in: query
        required: true
        type: string
        description: ''
      - name: code
        in: query
        required: true
        type: string
        description: ''
      - name: Content-Type
        in: header
        required: true
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Https:~1~1api.rest.sh~1api~12fa~1tokenresponse'
          examples:
            application/json:
              request: REQUEST TYPE
              correct: RETURNS IF 2FA TOKEN IS CORRECT
              id: TRANSACTION ID
      security: []
      x-unitTests:
      - request:
          method: GET
          uri: /verify/2fa?key=API&uid=UID&user=UID&code=CODE
          headers:
            Content-Type: application/json
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: RAW
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
          body: >-
            {

              "request": "REQUEST TYPE",

              "correct": "RETURNS IF 2FA TOKEN IS CORRECT",

              "id": "TRANSACTION ID"

            }
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: https://api.rest.sh/api/2fa/token1
        x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    post:
      description: 'TODO: Add Description'
      summary: https://api.rest.sh/api/2fa/token
      tags:
      - Two Factor Authentication API
      operationId: Verify2faPost
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/Https:~1~1api.rest.sh~1api~12fa~1tokenrequest'
      - name: Content-Type
        in: header
        required: true
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Https:~1~1api.rest.sh~1api~12fa~1tokenresponse'
          examples:
            application/json:
              request: REQUEST TYPE
              correct: RETURNS IF 2FA TOKEN IS CORRECT
              id: TRANSACTION ID
      security: []
      x-unitTests:
      - request:
          method: POST
          uri: /verify/2fa
          headers:
            Content-Type: application/json
          body: >-
            {

              "key": "YOUR API KEY",

              "uid": "YOUR USER ID",

              "user": "USERS UID",

              "code": "USER INPUTTED TOKEN"

            }
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: RAW
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
          body: >-
            {

              "request": "REQUEST TYPE",

              "correct": "RETURNS IF 2FA TOKEN IS CORRECT",

              "id": "TRANSACTION ID"

            }
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: https://api.rest.sh/api/2fa/token
        x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /verify/address:
    get:
      description: 'TODO: Add Description'
      summary: https://api.rest.sh/api/verify/address
      tags:
      - Verification
      operationId: VerifyAddressGet
      produces:
      - application/json
      parameters:
      - name: key
        in: query
        required: true
        type: string
        description: ''
      - name: uid
        in: query
        required: true
        type: string
        description: ''
      - name: user
        in: query
        required: true
        type: string
        description: ''
      - name: a
        in: query
        required: true
        type: string
        description: ''
      - name: sa
        in: query
        required: true
        type: string
        description: ''
      - name: c
        in: query
        required: true
        type: string
        description: ''
      - name: s
        in: query
        required: true
        type: string
        description: ''
      - name: z
        in: query
        required: true
        type: integer
        format: int32
        description: ''
      - name: Content-Type
        in: header
        required: true
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Https:~1~1api.rest.sh~1api~1verify~1addressresponse'
          examples:
            application/json:
              request: REQUEST TYPE
              active: RETURNS TRUE, IF ADDRESS IS ACTIVE AND IF USER IS CURRENTLY THERE
              id: TRANSACTION ID
      security: []
      x-unitTests:
      - request:
          method: GET
          uri: /verify/address?key=API&uid=UID&user=UID&a=3301 South Greenfield Rd&sa=Address Line Two&c=Gilbert&s=AZ&z=85297
          headers:
            Content-Type: application/json
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: RAW
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
          body: >-
            {

              "request": "REQUEST TYPE",

              "active": "RETURNS TRUE, IF ADDRESS IS ACTIVE AND IF USER IS CURRENTLY THERE",

              "id": "TRANSACTION ID"

            }
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: https://api.rest.sh/api/verify/address1
        x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    post:
      description: 'TODO: Add Description'
      summary: https://api.rest.sh/api/verify/address
      tags:
      - Verification
      operationId: VerifyAddressPost
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/Https:~1~1api.rest.sh~1api~1verify~1addressrequest'
      - name: Content-Type
        in: header
        required: true
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Https:~1~1api.rest.sh~1api~1verify~1addressresponse'
          examples:
            application/json:
              request: REQUEST TYPE
              active: RETURNS TRUE, IF ADDRESS IS ACTIVE AND IF USER IS CURRENTLY THERE
              id: TRANSACTION ID
      security: []
      x-unitTests:
      - request:
          method: POST
          uri: /verify/address
          headers:
            Content-Type: application/json
          body: >-
            {

              "key": "YOUR API KEY",

              "uid": "YOUR USER ID",

              "user": "USERS UID",

              "address": "ADDRESS IN ONE LINE SEPERATED BY COMMAS",

              "a": "ADDRESS LINE ONE",

              "sa": "ADDRESS LINE TWO",

              "c": "CITY OR PROVINCE",

              "s": "STATE OR REGION",

              "z": "ZIPCODE"

            }
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: RAW
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
          body: >-
            {

              "request": "REQUEST TYPE",

              "active": "RETURNS TRUE, IF ADDRESS IS ACTIVE AND IF USER IS CURRENTLY THERE",

              "id": "TRANSACTION ID"

            }
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: https://api.rest.sh/api/verify/address
        x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /image:
    get:
      description: ''
      summary: https://api.rest.sh/api/image
      tags:
      - Image Manipulation and Moderation API
      operationId: ImageGet
      produces:
      - application/json
      parameters:
      - name: key
        in: query
        required: true
        type: string
        description: ''
      - name: uid
        in: query
        required: true
        type: string
        description: ''
      - name: image
        in: query
        required: true
        type: string
        description: ''
      - name: transform
        in: query
        required: true
        type: string
        description: ''
      - name: Content-Type
        in: header
        required: true
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Https:~1~1api.rest.sh~1api~1imageresponse'
          examples:
            application/json:
              request: REQUEST TYPE
              url: RETURNED IMAGE URL AND DATA
              success: RETURNS TRUE IF IMAGE MANIPULATION WAS SUCCESSFULL
              moderated: RETURNS TRUE IF IMAGE CONTAINED GRAPHIC IMAGERY
              id: TRANSACTION ID
      security: []
      x-unitTests:
      - request:
          method: GET
          uri: /image?key=API&uid=UID&image=https://img.yourdomain.tld/image.type&transform=x:flip,y:flip,grayscale:true,compress:true;80,convert:png
          headers:
            Content-Type: application/json
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: RAW
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
          body: >-
            {
                "request": "REQUEST TYPE",
                "url": "RETURNED IMAGE URL AND DATA",
                "success": "RETURNS TRUE IF IMAGE MANIPULATION WAS SUCCESSFULL",
                "moderated": "RETURNS TRUE IF IMAGE CONTAINED GRAPHIC IMAGERY",
                "id": "TRANSACTION ID"
            }
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: https://api.rest.sh/api/image1
        x-testDescription: ''
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    post:
      description: ''
      summary: https://api.rest.sh/api/image
      tags:
      - Image Manipulation and Moderation API
      operationId: ImagePost
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/Https:~1~1api.rest.sh~1api~1imagerequest'
      - name: Content-Type
        in: header
        required: true
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Https:~1~1api.rest.sh~1api~1imageresponse'
          examples:
            application/json:
              request: REQUEST TYPE
              url: RETURNED IMAGE URL AND DATA
              success: RETURNS TRUE IF IMAGE MANIPULATION WAS SUCCESSFULL
              moderated: RETURNS TRUE IF IMAGE CONTAINED GRAPHIC IMAGERY
              id: TRANSACTION ID
      security: []
      x-unitTests:
      - request:
          method: POST
          uri: /image
          headers:
            Content-Type: application/json
          body: >-
            {

              "key": "YOUR API KEY",

              "uid": "YOUR USER ID",

              "image": "DIRECT IMAGE URL OR CLIENT UPLOAD",

              "transform": "IMAGE MANIPULATION DIRECTIVES",

              "moderate": "SET TO TRUE IF YOU WISH TO AUTOMATICALLT CENSOR GRAPHIC IMAGES"

            }
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: RAW
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
          body: >-
            {
                "request": "REQUEST TYPE",
                "url": "RETURNED IMAGE URL AND DATA",
                "success": "RETURNS TRUE IF IMAGE MANIPULATION WAS SUCCESSFULL",
                "moderated": "RETURNS TRUE IF IMAGE CONTAINED GRAPHIC IMAGERY",
                "id": "TRANSACTION ID"
            }
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: https://api.rest.sh/api/image
        x-testDescription: ''
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /data:
    get:
      description: ''
      summary: https://api.rest.sh/api/data
      tags:
      - Data Manipulation, Conversion, Sorting, and Compression API
      operationId: DataGet
      produces:
      - application/json
      parameters:
      - name: key
        in: query
        required: true
        type: string
        description: ''
      - name: uid
        in: query
        required: true
        type: string
        description: ''
      - name: user
        in: query
        required: true
        type: string
        description: ''
      - name: apiuid
        in: query
        required: true
        type: string
        description: ''
      - name: data
        in: query
        required: true
        type: string
        description: ''
      - name: Content-Type
        in: header
        required: true
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Https:~1~1api.rest.sh~1api~1dataresponse'
          examples:
            application/json:
              request: REQUEST TYPE
              url: RETURNED DATA URL
              success: RETURNS TRUE IF DATA MANIPULATION WAS SUCCESSFULL
              id: TRANSACTION ID
      security: []
      x-unitTests:
      - request:
          method: GET
          uri: /data?key=API&uid=UID&user=UID&apiuid=apiUID&data=https://static.yourcdn.com/data.file
          headers:
            Content-Type: application/json
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: RAW
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
          body: >-
            {
                "request": "REQUEST TYPE",
                "url": "RETURNED DATA URL",
                "success": "RETURNS TRUE IF DATA MANIPULATION WAS SUCCESSFULL",
                "id": "TRANSACTION ID"
            }
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: https://api.rest.sh/api/data1
        x-testDescription: ''
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    post:
      description: ''
      summary: https://api.rest.sh/api/data
      tags:
      - Data Manipulation, Conversion, Sorting, and Compression API
      operationId: DataPost
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/Https:~1~1api.rest.sh~1api~1datarequest'
      - name: Content-Type
        in: header
        required: true
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Https:~1~1api.rest.sh~1api~1dataresponse'
          examples:
            application/json:
              request: REQUEST TYPE
              url: RETURNED DATA URL
              success: RETURNS TRUE IF DATA MANIPULATION WAS SUCCESSFULL
              id: TRANSACTION ID
      security: []
      x-unitTests:
      - request:
          method: POST
          uri: /data
          headers:
            Content-Type: application/json
          body: >-
            {

              "key": "YOUR API KEY",

              "uid": "YOUR USER ID",

              "user": "USERS EMAIL OR USERNAME",

              "apiuid": "USERS API SIDE USER ID",

              "url": "DATA URL OR DIRECT FILE UPLOAD FROM CLIENT",

              "manipulation": "DATA MANIPULATION DIRECTIVES",

              "conversion": "CONVERT DATA TYPE TO (JSON, XML, HTML, RAW, BINARY, TEXT)",

              "sorting": "SORT BY (NAME, DATE, TYPE, SIZE)",

              "compression": "COMPRESS DATA IF SET TO TRUE (TYPES = GZIP, ZIP, 7Z, MINIFICATION, REWRITE)"

            }
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: RAW
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
          body: >-
            {
                "request": "REQUEST TYPE",
                "url": "RETURNED DATA URL",
                "success": "RETURNS TRUE IF DATA MANIPULATION WAS SUCCESSFULL",
                "id": "TRANSACTION ID"
            }
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: https://api.rest.sh/api/data
        x-testDescription: ''
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /service/hosting:
    get:
      description: ''
      summary: https://api.rest.sh/api/service/hosting
      tags:
      - Hosting
      operationId: ServiceHostingGet
      produces:
      - application/json
      parameters:
      - name: key
        in: query
        required: true
        type: string
        description: ''
      - name: uid
        in: query
        required: true
        type: string
        description: ''
      - name: app
        in: query
        required: true
        type: string
        description: ''
      - name: domain
        in: query
        required: true
        type: string
        description: ''
      - name: Content-Type
        in: header
        required: true
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Https:~1~1api.rest.sh~1api~1service~1hostingresponse'
          examples:
            application/json:
              request: REQUEST TYPE
              url: RETURNED APP HOSTING URL
              success: RETURNS TRUE IF APP WAS SUCCESSFULLY DEPLOYED
              id: TRANSACTION ID
      security: []
      x-unitTests:
      - request:
          method: GET
          uri: /service/hosting?key=API&uid=UID&app=git://app.git&domain=yourdomain.tld,seconddomain.tld
          headers:
            Content-Type: application/json
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: RAW
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
          body: >-
            {

              "request": "REQUEST TYPE",

              "url": "RETURNED APP HOSTING URL",

              "success": "RETURNS TRUE IF APP WAS SUCCESSFULLY DEPLOYED",

              "id": "TRANSACTION ID"

            }
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: https://api.rest.sh/api/service/hosting1
        x-testDescription: ''
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    post:
      description: ''
      summary: https://api.rest.sh/api/service/hosting
      tags:
      - Hosting
      operationId: ServiceHostingPost
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/Https:~1~1api.rest.sh~1api~1service~1hostingrequest'
      - name: Content-Type
        in: header
        required: true
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Https:~1~1api.rest.sh~1api~1service~1hostingresponse'
          examples:
            application/json:
              request: REQUEST TYPE
              url: RETURNED APP HOSTING URL
              success: RETURNS TRUE IF APP WAS SUCCESSFULLY DEPLOYED
              id: TRANSACTION ID
      security: []
      x-unitTests:
      - request:
          method: POST
          uri: /service/hosting
          headers:
            Content-Type: application/json
          body: >-
            {

              "key": "YOUR API KEY",

              "uid": "YOUR USER ID",

              "app": "APP GIT URL OR URL CONTAINING YOUR APP IN A ZIP FILE",

              "domain": "ALLOWED DOMAIN NAMES SEPERATED BY A COMMA TO CNAME WITH ACCESS TO HOSTED APP"

            }
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: RAW
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
          body: >-
            {

              "request": "REQUEST TYPE",

              "url": "RETURNED APP HOSTING URL",

              "success": "RETURNS TRUE IF APP WAS SUCCESSFULLY DEPLOYED",

              "id": "TRANSACTION ID"

            }
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: https://api.rest.sh/api/service/hosting
        x-testDescription: ''
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /service/dns/add:
    get:
      description: Add Domain To DNS Service
      summary: https://api.rest.sh/api/service/dns/add
      tags:
      - DNS
      operationId: ServiceDnsAddGet
      produces:
      - application/json
      parameters:
      - name: key
        in: query
        required: true
        type: string
        description: ''
      - name: uid
        in: query
        required: true
        type: string
        description: ''
      - name: domain
        in: query
        required: true
        type: string
        description: ''
      - name: Content-Type
        in: header
        required: true
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Https:~1~1api.rest.sh~1api~1service~1dns~1addresponse'
          examples:
            application/json:
              domain: LIST OF DOMAINS ADDED
              nameservers:
                ns1: NAME SERVER ONE TO POINT YOUR DOMAIN AT
                ns2: NAME SERVER TWO TO POINT YOUR DOMAIN AT
                ns3: NAME SERVER THREE TO POINT YOUR DOMAIN AT
                ns4: NAME SERVER FOUR TO POINT YOUR DOMAIN AT
      security: []
      x-unitTests:
      - request:
          method: GET
          uri: /service/dns/add?key=API&uid=UID&domain=yourdomain.tld,seconddomain.tld
          headers:
            Content-Type: application/json
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: RAW
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
          body: >-
            {
                "domain": "LIST OF DOMAINS ADDED",
                "nameservers": {
                    "ns1": "NAME SERVER ONE TO POINT YOUR DOMAIN AT",
                    "ns2": "NAME SERVER TWO TO POINT YOUR DOMAIN AT",
                    "ns3": "NAME SERVER THREE TO POINT YOUR DOMAIN AT",
                    "ns4": "NAME SERVER FOUR TO POINT YOUR DOMAIN AT"
                }
            }
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: https://api.rest.sh/api/service/dns/add1
        x-testDescription: Add Domain To DNS Service
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    post:
      description: Add Domain To DNS Service
      summary: https://api.rest.sh/api/service/dns/add
      tags:
      - DNS
      operationId: ServiceDnsAddPost
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/Https:~1~1api.rest.sh~1api~1service~1dns~1addrequest'
      - name: Content-Type
        in: header
        required: true
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Https:~1~1api.rest.sh~1api~1service~1dns~1addresponse'
          examples:
            application/json:
              domain: LIST OF DOMAINS ADDED
              nameservers:
                ns1: NAME SERVER ONE TO POINT YOUR DOMAIN AT
                ns2: NAME SERVER TWO TO POINT YOUR DOMAIN AT
                ns3: NAME SERVER THREE TO POINT YOUR DOMAIN AT
                ns4: NAME SERVER FOUR TO POINT YOUR DOMAIN AT
      security: []
      x-unitTests:
      - request:
          method: POST
          uri: /service/dns/add
          headers:
            Content-Type: application/json
          body: >-
            {

              "key": "YOUR API KEY",

              "uid": "YOUR USER ID",

              "domain": "DOMAINS SEPERATED BY A COMMA TO ADD TO DNS"

            }
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: RAW
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
          body: >-
            {
                "domain": "LIST OF DOMAINS ADDED",
                "nameservers": {
                    "ns1": "NAME SERVER ONE TO POINT YOUR DOMAIN AT",
                    "ns2": "NAME SERVER TWO TO POINT YOUR DOMAIN AT",
                    "ns3": "NAME SERVER THREE TO POINT YOUR DOMAIN AT",
                    "ns4": "NAME SERVER FOUR TO POINT YOUR DOMAIN AT"
                }
            }
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: https://api.rest.sh/api/service/dns/add
        x-testDescription: Add Domain To DNS Service
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /service/dns/configure:
    get:
      description: Configure Domain DNS Records
      summary: https://api.rest.sh/api/service/dns/configure
      tags:
      - DNS
      operationId: ServiceDnsConfigureGet
      produces:
      - application/json
      parameters:
      - name: key
        in: query
        required: true
        type: string
        description: ''
      - name: uid
        in: query
        required: true
        type: string
        description: ''
      - name: domain
        in: query
        required: true
        type: string
        description: ''
      - name: records
        in: query
        required: true
        type: string
        description: ''
      - name: Content-Type
        in: header
        required: true
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Https:~1~1api.rest.sh~1api~1service~1dns~1configureresponse'
          examples:
            application/json:
              success: SHOWS TRUE IF RECORDS WERE SUCCESSFULLY SET
              domain: DOMAIN
              records: RECORDS SET TO DOMAIN
      security: []
      x-unitTests:
      - request:
          method: GET
          uri: /service/dns/configure?key=API&uid=UID&domain=yourdomain.tld&records=set:root:a:127.0.0.1,set:www:a:127.0.0.1,set:cdn:cname:cname.domain.com
          headers:
            Content-Type: application/json
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: RAW
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
          body: >-
            {
                "success": "SHOWS TRUE IF RECORDS WERE SUCCESSFULLY SET",
                "domain": "DOMAIN",
                "records": "RECORDS SET TO DOMAIN"
            }
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: https://api.rest.sh/api/service/dns/configure1
        x-testDescription: Configure Domain DNS Records
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    post:
      description: Configure Domain DNS Records
      summary: https://api.rest.sh/api/service/dns/configure
      tags:
      - DNS
      operationId: ServiceDnsConfigurePost
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/Https:~1~1api.rest.sh~1api~1service~1dns~1configurerequest'
      - name: Content-Type
        in: header
        required: true
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Https:~1~1api.rest.sh~1api~1service~1dns~1configureresponse'
          examples:
            application/json:
              success: SHOWS TRUE IF RECORDS WERE SUCCESSFULLY SET
              domain: DOMAIN
              records: RECORDS SET TO DOMAIN
      security: []
      x-unitTests:
      - request:
          method: POST
          uri: /service/dns/configure
          headers:
            Content-Type: application/json
          body: >-
            {

              "key": "YOUR API KEY",

              "uid": "YOUR USER ID",

              "domain": "DOMAINS TO SET DNS RECORDS",

              "records": "RECORDS TO SET TO DOMAIN"

            }
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: RAW
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
          body: >-
            {
                "success": "SHOWS TRUE IF RECORDS WERE SUCCESSFULLY SET",
                "domain": "DOMAIN",
                "records": "RECORDS SET TO DOMAIN"
            }
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: https://api.rest.sh/api/service/dns/configure
        x-testDescription: Configure Domain DNS Records
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /service/cdn/pull:
    get:
      description: CDN Pull Zone
      summary: https://api.rest.sh/api/service/cdn/pull
      tags:
      - CDN
      operationId: ServiceCdnPullGet
      produces:
      - application/json
      parameters:
      - name: key
        in: query
        required: true
        type: string
        description: ''
      - name: uid
        in: query
        required: true
        type: string
        description: ''
      - name: origin
        in: query
        required: true
        type: string
        description: ''
      - name: cname
        in: query
        required: true
        type: string
        description: ''
      - name: Content-Type
        in: header
        required: true
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Https:~1~1api.rest.sh~1api~1service~1cdn~1pullresponse'
          examples:
            application/json:
              success: SHOWS TRUE WHEN PULL ZONE IS DEPLOYED SUCCESSFULLY
              cname: RECORD TO APPEND YOUR URLS TO VIA A CNAME
      security: []
      x-unitTests:
      - request:
          method: GET
          uri: /service/cdn/pull?key=API&uid=UID&origin=origin.yourdomain.tld&cname=cdn.yourdomain.tld,cdn1.yourdomain.tld,cdn2.yourdomain.tld
          headers:
            Content-Type: application/json
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: RAW
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
          body: >-
            {

              "success": "SHOWS TRUE WHEN PULL ZONE IS DEPLOYED SUCCESSFULLY",

              "cname": "RECORD TO APPEND YOUR URLS TO VIA A CNAME"

            }
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: https://api.rest.sh/api/service/cdn/pull1
        x-testDescription: CDN Pull Zone
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    post:
      description: CDN Pull Zone
      summary: https://api.rest.sh/api/service/cdn/pull
      tags:
      - CDN
      operationId: ServiceCdnPullPost
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/Https:~1~1api.rest.sh~1api~1service~1cdn~1pullrequest'
      - name: Content-Type
        in: header
        required: true
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Https:~1~1api.rest.sh~1api~1service~1cdn~1pullresponse'
          examples:
            application/json:
              success: SHOWS TRUE WHEN PULL ZONE IS DEPLOYED SUCCESSFULLY
              cname: RECORD TO APPEND YOUR URLS TO VIA A CNAME
      security: []
      x-unitTests:
      - request:
          method: POST
          uri: /service/cdn/pull
          headers:
            Content-Type: application/json
          body: >-
            {

              "key": "YOUR API KEY",

              "uid": "YOUR USER ID",

              "origin": "ORIGIN DOMAIN TO PULL ASSETS FROM",

              "cname": "DOMAIN OR DOMAINS YOU WISH TO ALLOW CNAME ACCESS SEPERATED BY A COMMA"

            }
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: RAW
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
          body: >-
            {

              "success": "SHOWS TRUE WHEN PULL ZONE IS DEPLOYED SUCCESSFULLY",

              "cname": "RECORD TO APPEND YOUR URLS TO VIA A CNAME"

            }
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: https://api.rest.sh/api/service/cdn/pull
        x-testDescription: CDN Pull Zone
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /service/cdn/push:
    get:
      description: CDN Push Zone
      summary: https://api.rest.sh/api/service/cdn/push
      tags:
      - CDN
      operationId: ServiceCdnPushGet
      produces:
      - application/json
      parameters:
      - name: key
        in: query
        required: true
        type: string
        description: ''
      - name: uid
        in: query
        required: true
        type: string
        description: ''
      - name: cname
        in: query
        required: true
        type: string
        description: ''
      - name: file
        in: query
        required: true
        type: string
        description: ''
      - name: Content-Type
        in: header
        required: true
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Https:~1~1api.rest.sh~1api~1service~1cdn~1pushresponse'
          examples:
            application/json:
              success: SHOWS TRUE WHEN PUSH ZONE IS DEPLOYED SUCCESSFULLY
              upload: LIST OF FILES UPLOADED TO YOUR PUSH ZONE
              cname: RECORD TO APPEND YOUR URLS TO VIA A CNAME
      security: []
      x-unitTests:
      - request:
          method: GET
          uri: /service/cdn/push?key=API&uid=UID&cname=cdn.yourdomain.tld,cdn1.yourdomain.tld,cdn2.yourdomain.tld&file=static.yourdomain.tld/file.type
          headers:
            Content-Type: application/json
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: RAW
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
          body: >-
            {

              "success": "SHOWS TRUE WHEN PUSH ZONE IS DEPLOYED SUCCESSFULLY",

              "upload": "LIST OF FILES UPLOADED TO YOUR PUSH ZONE",

              "cname": "RECORD TO APPEND YOUR URLS TO VIA A CNAME"

            }
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: https://api.rest.sh/api/service/cdn/push1
        x-testDescription: CDN Push Zone
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    post:
      description: CDN Push Zone
      summary: https://api.rest.sh/api/service/cdn/push
      tags:
      - CDN
      operationId: ServiceCdnPushPost
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/Https:~1~1api.rest.sh~1api~1service~1cdn~1pushrequest'
      - name: Content-Type
        in: header
        required: true
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Https:~1~1api.rest.sh~1api~1service~1cdn~1pushresponse'
          examples:
            application/json:
              success: SHOWS TRUE WHEN PUSH ZONE IS DEPLOYED SUCCESSFULLY
              upload: LIST OF FILES UPLOADED TO YOUR PUSH ZONE
              cname: RECORD TO APPEND YOUR URLS TO VIA A CNAME
      security: []
      x-unitTests:
      - request:
          method: POST
          uri: /service/cdn/push
          headers:
            Content-Type: application/json
          body: >-
            {

              "key": "YOUR API KEY",

              "uid": "YOUR USER ID",

              "cname": "DOMAIN OR DOMAINS YOU WISH TO ALLOW CNAME ACCESS SEPERATED BY A COMMA",

              "file": "FILE OR FILES YOU WISH TO UPLOAD SEPERATED BY A COMMA"

            }
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: RAW
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
          body: >-
            {

              "success": "SHOWS TRUE WHEN PUSH ZONE IS DEPLOYED SUCCESSFULLY",

              "upload": "LIST OF FILES UPLOADED TO YOUR PUSH ZONE",

              "cname": "RECORD TO APPEND YOUR URLS TO VIA A CNAME"

            }
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: https://api.rest.sh/api/service/cdn/push
        x-testDescription: CDN Push Zone
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /security/encryption:
    get:
      description: Data and File Encryption API
      summary: https://api.rest.sh/api/security/encryption
      tags:
      - Encryption
      operationId: SecurityEncryptionGet
      produces:
      - application/json
      parameters:
      - name: key
        in: query
        required: true
        type: string
        description: ''
      - name: uid
        in: query
        required: true
        type: string
        description: ''
      - name: data
        in: query
        required: true
        type: string
        description: ''
      - name: method
        in: query
        required: true
        type: string
        description: ''
      - name: bit
        in: query
        required: true
        type: integer
        format: int32
        description: ''
      - name: Content-Type
        in: header
        required: true
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Https:~1~1api.rest.sh~1api~1security~1encryptionresponse'
          examples:
            application/json:
              data: RETURNED ENCRYPTED DATA URL
              file: RETURNED ENCRYPTED FILE URL
              success: SHOWS TRUE IF ENCRYPTION WAS SUCCESSFULL
              public: PUBLIC ENCRYPTION KEY FOR YOUR DATA OR FILES
              private: PRIVATE ENCRYPTION KEY FOR YOUR DATA OR FILES
      security: []
      x-unitTests:
      - request:
          method: GET
          uri: /security/encryption?key=API&uid=UID&data=DATA&method=DES,RSA&bit=4096
          headers:
            Content-Type: application/json
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: RAW
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
          body: >-
            {
                "data": "RETURNED ENCRYPTED DATA URL",
                "file": "RETURNED ENCRYPTED FILE URL",
                "success": "SHOWS TRUE IF ENCRYPTION WAS SUCCESSFULL",
                "public": "PUBLIC ENCRYPTION KEY FOR YOUR DATA OR FILES",
                "private": "PRIVATE ENCRYPTION KEY FOR YOUR DATA OR FILES"
            }
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: https://api.rest.sh/api/security/encryption1
        x-testDescription: Data and File Encryption API
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    post:
      description: Data and File Encryption API
      summary: https://api.rest.sh/api/security/encryption
      tags:
      - Encryption
      operationId: SecurityEncryptionPost
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/Https:~1~1api.rest.sh~1api~1security~1encryptionrequest'
      - name: Content-Type
        in: header
        required: true
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Https:~1~1api.rest.sh~1api~1security~1encryptionresponse'
          examples:
            application/json:
              data: RETURNED ENCRYPTED DATA URL
              file: RETURNED ENCRYPTED FILE URL
              success: SHOWS TRUE IF ENCRYPTION WAS SUCCESSFULL
              public: PUBLIC ENCRYPTION KEY FOR YOUR DATA OR FILES
              private: PRIVATE ENCRYPTION KEY FOR YOUR DATA OR FILES
      security: []
      x-unitTests:
      - request:
          method: POST
          uri: /security/encryption
          headers:
            Content-Type: application/json
          body: >-
            {
              "key": "YOUR API KEY",
              "uid": "YOUR USER ID",
              "data": "DATA YOU WISH TO ENCRYPT",
              "file": "FILE YOU WISH TO ENCRYPT",
              "method": "SINGLE OR MULTIPLE ENCRYPTION TYPES TO APPLY TO DATA OR FILES SEPERATED BY A COMMA (DES, RSA, BLOWFISH, TWOFISH, AES, IDEA, PGP)",
              "bit": "SIZE OF ENCRYPTION KEY"
            }
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: RAW
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
          body: >-
            {
                "data": "RETURNED ENCRYPTED DATA URL",
                "file": "RETURNED ENCRYPTED FILE URL",
                "success": "SHOWS TRUE IF ENCRYPTION WAS SUCCESSFULL",
                "public": "PUBLIC ENCRYPTION KEY FOR YOUR DATA OR FILES",
                "private": "PRIVATE ENCRYPTION KEY FOR YOUR DATA OR FILES"
            }
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: https://api.rest.sh/api/security/encryption
        x-testDescription: Data and File Encryption API
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /service/obfuscation:
    get:
      description: Code Obfuscation and Anti-tampering Protection
      summary: https://api.rest.sh/api/service/obfuscation
      tags:
      - Code Obfuscation
      operationId: ServiceObfuscationGet
      produces:
      - application/json
      parameters:
      - name: key
        in: query
        required: true
        type: string
        description: ''
      - name: uid
        in: query
        required: true
        type: string
        description: ''
      - name: app
        in: query
        required: true
        type: string
        description: ''
      - name: Content-Type
        in: header
        required: true
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Https:~1~1api.rest.sh~1api~1service~1obfuscationresponse'
          examples:
            application/json:
              success: RETURNS TRUE IF APP WAS SUCCESSFULLY OBFUSCTATED AND PROTECTED
              app: OBFUSCATED APP URL
      security: []
      x-unitTests:
      - request:
          method: GET
          uri: /service/obfuscation?key=API&uid=UID&app=git://app.git
          headers:
            Content-Type: application/json
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: RAW
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
          body: >-
            {

              "success": "RETURNS TRUE IF APP WAS SUCCESSFULLY OBFUSCTATED AND PROTECTED",

              "app": "OBFUSCATED APP URL"

            }
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: https://api.rest.sh/api/service/obfuscation1
        x-testDescription: Code Obfuscation and Anti-tampering Protection
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    post:
      description: Code Obfuscation and Anti-tampering Protection
      summary: https://api.rest.sh/api/service/obfuscation
      tags:
      - Code Obfuscation
      operationId: ServiceObfuscationPost
      produces:
      - application/json
      parameters:
      - name: Body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/Https:~1~1api.rest.sh~1api~1service~1obfuscationrequest'
      - name: Content-Type
        in: header
        required: true
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Https:~1~1api.rest.sh~1api~1service~1obfuscationresponse'
          examples:
            application/json:
              success: RETURNS TRUE IF APP WAS SUCCESSFULLY OBFUSCTATED AND PROTECTED
              app: OBFUSCATED APP URL
      security: []
      x-unitTests:
      - request:
          method: POST
          uri: /service/obfuscation
          headers:
            Content-Type: application/json
          body: >-
            {

              "key": "YOUR API KEY",

              "uid": "YOUR USER ID",

              "app": "APP GIT URL or URL CONTAINING YOUR APP IN A ZIP FILE"

            }
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: RAW
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
          body: >-
            {

              "success": "RETURNS TRUE IF APP WAS SUCCESSFULLY OBFUSCTATED AND PROTECTED",

              "app": "OBFUSCATED APP URL"

            }
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: https://api.rest.sh/api/service/obfuscation
        x-testDescription: Code Obfuscation and Anti-tampering Protection
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
[...]
